<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Home</title>
</head>

<body>

<h3>Home</h3>
	<hr>
	Aplikacja do analizy wybranych danych z Giełdy Papierów Wartościowych w języku Java
	<br>
	Twórca Andrzej Mrożek
	
	<hr>
	<a href="../users/list"
		class="btn btn-primary btn-sm mb-3">
	Uzytkownicy
	</a>
	<a href="../wig20s/list"
		class="btn btn-primary btn-sm mb-3">
	Wig20
	</a>

	

	
</body>
</html>



